name: Update gist with WakaTime stats
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Update gist
        uses: matchai/waka-box@master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: bb32386389fe32daaee26a80ed33ade1
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
